* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navIcon {
    &:hover {
        color: purple;
    }

    &:active {
        color: purple;
    }
}

.logoutIcon {
    &:hover {
        color: red;
    }
}

.storyDiv {
    margin-top: 20px;
    display: block;
    height: 50px;
    overflow: auto;
    scroll-behavior: smooth;
}

.storyIcon {
    margin-left: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


// posts
.postMain {
    background-image: linear-gradient(150deg, purple, pink);
    border-radius: 10px;
}

.uploaderName {
    margin-right: 10px;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
    text-align: right;

    &:hover {
        color: blue;
        cursor: pointer;
    }
}

.titleNamePost {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
    color: rgb(75, 3, 75);
    text-transform: capitalize;
}

.descPost {
    font-style: italic;
    color: white;
}

.postImg {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 80vw;
    max-height: 80vh;
    background-size: 100% 100%;
}

.marginPost {
    display: inline;
    margin-left: 10px;
    margin-bottom: 20px;
}

.deleteButton {
    color: red;
    padding-bottom: 20px;

}

// sign in page
.buttonSignIn {
    outline: none;
    border-radius: 10px;

    &:hover {
        outline: none;
        color: green;
    }

}

.signInHeding {
    font-style: italic;
    font-family: cursive;
    font-weight: 500;
    background-image: linear-gradient(180deg, purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.signInUpText {
    font-weight: 700;
    font-style: italic;
    font-family: cursive;
}

.inputFieldSignInUp {
    border: none;
    border-bottom: black 3px solid;
    border-radius: 0px;
}

// profile 

.mainProfile {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    font-family: cursive;
    font-weight: 700;
    font-style: italic;
}

.buttonGroup {
    text-align: center;
}

.buttonEach {
    background-image: linear-gradient(180deg, purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // border-radius: 10px;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    outline: none;

    &:visited {
        outline: violet;
    }
}


// post created
#addButton {
    background-image: linear-gradient(45deg, purple, white);

    &:hover {
        color: white;
        background-color: green;
    }
}

#headingCreatePost {
    background-image: linear-gradient(180deg, purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    font-weight: 700;
}

#titleInput {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: black 3px solid;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

#textInput {
    box-shadow: none;
    border: none;
    border-bottom: black 3px solid;
    font-family: cursive;

}

.serachList {
    list-style-type: none;
    font-family: cursive;
    line-height: 50px;
    font-weight: 400;
    font-style: italic;

}

.listElement {
    &:hover {
        cursor: pointer;
        color: blue;
    }
}


// public profile
.followButton {
    background-image: linear-gradient(110deg, purple, pink);

    &:hover {
        color: white;
    }
}

.unfollowButton {
    background-image: linear-gradient(110deg, purple, pink);

    &:hover {
        color: white;
    }
}

.followHeading {
    background-image: linear-gradient(180deg, purple, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    font-weight: 700;
}